@page
@model StoryModuleSubmissionModel
@{
    ViewData["Title"] = "Story Module Submission";
}

<div id="divStoryModuleSubmissionContainer">
    <div class="row">
        <div class="col-md-8 mx-auto text-white">

            <ul class="nav nav-pills mb-3 floast-end" id="pills-tab" role="tablist">
                @* Create Tab *@

                <li class="nav-item w-50" role="presentation">
                    <button class="nav-link text-white active w-100 rounded-0" id="pills-create-tab" data-bs-toggle="pill" data-bs-target="#pills-create" type="button" role="tab" aria-controls="pills-create" aria-selected="true"><i class="fa-solid fa-plus"></i> Create</button>
                </li>


                @* Edit Tab *@

                <li class="nav-item w-50" role="presentation">
                    <button class="nav-link text-white w-100 rounded-0" id="pills-edit-tab" data-bs-toggle="pill" data-bs-target="#pills-edit" type="button" role="tab" aria-controls="pills-edit" aria-selected="false"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-create" role="tabpanel" aria-labelledby="pills-create-tab" tabindex="0">
                    <h2 class="mt-5 mb-4 fw-bold">Create Story Module</h2>

                    <form id="formCreateModule" method="post">
                        @* Module Content *@

                        <div class="mb-4">
                            <label for="inputModuleContent" class="form-label fw-bold">Main Body Text</label>
                            <textarea class="form-control" id="inputModuleContent" name="ModuleContent" rows="5"></textarea>
                        </div>


                        @* Module Choices *@

                        <div id="divModuleChoices">

                            @* Pass Choice*@
                            <div class="mb-4">
                                <label for="inputPassChoiceText" class="form-label fw-bold">Pass Choice Button Text</label>
                                <input type="text" class="form-control" id="inputPassChoiceText" name="PassChoiceText" placeholder="">
                            </div>

                            <div class="mb-4">
                                <label for="inputPassChoiceResult" class="form-label fw-bold">Pass Choice Outcome Text</label>
                                <textarea class="form-control" id="inputPassChoiceResult" name="PassChoiceResult" rows="3"></textarea>
                            </div>


                            @* Fail Choice *@
                            <div class="mb-4">
                                <label for="inputFailChoiceResult" class="form-label fw-bold">Fail Choice Button Text</label>
                                <input type="text" class="form-control" id="inputFailChoiceResult" name="FailChoiceText" placeholder="">
                            </div>

                            <div class="mb-4">
                                <label for="inputFailChoiceText" class="form-label fw-bold">Fail Choice Outcome Text</label>
                                <textarea class="form-control" id="inputFailChoiceText" name="FailChoiceResult" rows="3"></textarea>
                            </div>
                        </div>


                        <hr />


                        @* Module Position *@

                        <div class="mb-4">
                            <label for="inputModulePosition" class="form-label fw-bold">Story Module Flow</label>
                            <select id="inputModulePosition" name="ModulePosition" class="form-select">
                                @foreach (var item in Model.ModulePositionKeywords)
                                {
                                    <option value="@item.KeywordId">@item.Name</option>
                                }
                            </select>
                        </div>


                        <hr />


                        @* Module Keywords *@

                        <div class="mb-4">
                            <div for="inputModulePosition" class="form-label fw-bold">Story Module Keyword(s)</div>

                            <div id="divKeywordsInputs">
                                @foreach (var item in Model.MainKeywords)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="@item.KeywordId" id="@item.KeywordId-CreateForm">
                                        <label class="form-check-label" for="@item.KeywordId-CreateForm">@item.Name</label>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="text-end">
                            <button type="submit" class="btn btn-success lyt-btn-shadow fw-bold"><i class="fa-solid fa-plus"></i> Create</button>
                        </div>
                    </form>

                </div>


                <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab" tabindex="0">
                    <h2 class="mt-5 mb-4 fw-bold">Edit Story Module</h2>

                    <div id="divAuthorsModulesPanel">
                        @* Loading Spinner *@
                        <div class="text-center fs-3 mt-5">
                            <i class="fa-solid fa-circle-notch fa-spin"></i> Loading your story modules...
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="~/Pages/Shared/EditModuleModalPartial.cshtml" model="@Model.EditModuleModalInitialDataModel" />


@section ElementTemplates {

    @* EditModulePanel *@
    <div id="gp-divEditModulePanel" class="p-3 mb-3 bg-white lyt-box-shadow rounded">
        <div class="px-0 px-md-5 text-muted">
            <div class="fs-5 pt-2 fw-bold">Story Module Flow</div>
            <div id="divModulePosition" class="fs-6 pt-2"></div>

            <hr />

            <div class="fs-5 pt-2 fw-bold">Story Module Content</div>
            <div id="divModuleContent" class="fs-6 pt-2"></div>

            <div class="text-end"><button id="btnEditModule" type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-pen-to-square"></i> Edit</button></div>
        </div>
    </div>

}


@section Scripts {

    <script src="~/Pages/Shared/EditModuleModalPartial.cshtml.js" asp-append-version="true"></script>
    <script src="~/Pages/StoryModuleSubmission.cshtml.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            EditModuleModal.Init();
            StoryModuleSubmission.Init();
        });
    </script>

}